.section {
  padding: 72px 0;
}

.sectionAlt {
  background-color: var(--ifm-color-emphasis-100);
}

.tweet {
  font-size: 15px;
}

.tweetMeta {
  color: var(--ifm-color-emphasis-700);
}

.tweetMeta strong {
  color: var(--ifm-font-color-base);
}

.tweetsSection > :global(.col) > * {
  margin-bottom: 2rem;
}

@media (max-width: 996px) {
  .tweetsSection > :global(.col:last-child) > *:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 997px) {
  .tweetsSection > :global(.col) > *:last-child {
    margin-bottom: 0;
  }
}
